<form action="/emailSearchProc" method="post" >
    <ul>
        <li> 이메일 찾기 </li>
        <li> 이름 : <input type="text" name="name" required></li>
        <li> 전화번호 : <input type="text" name="number" required></li>

        <button> 이메일 찾기 </button>
        <a href="/passwordSearch"> 비밀번호 찾기 </a>
        <a href="/login">로그인</a>
    </ul>

</form>