<form action="/passwordSearchProc" method="post" >
    <ul>
        <li> 비밀번호 찾기 </li>
        <li> 이메일 : <input type="text" name="email" required></li>
        <li> 전화번호 : <input type="text" name="number" required></li>

        <button> 비밀번호 찾기 </button>
        <a href="/emailSearch"> 이메일 찾기 </a>
        <a href="/login">로그인</a>
    </ul>

</form>