<form action="/passwordResetProc" method="post" >
    <ul>
        <li> 비밀번호 재설정 </li>
        <li> 새 비밀번호 입력 : <input type="password" name="password" required></li>
        <li> 비밀번호 확인 : <input type="password" name="passwordConfirm" required></li>

        <li><button type="submit">비밀번호 변경</button></li>
        <a href="/"> 처음으로 </a>
    </ul>

</form>