<form action="/registerProc" method="post" >
    <ul>
        <li> Register </li>
        <li> 이름 : <input type="text" name="name" required></li>
        <li> 이메일 : <input type="text" name="email" required></li>
        <li> 비밀번호 : <input type="password" name="passWord" required></li>
        <li> 전화번호 : <input type="text" name="number" required></li>
        <li> 닉네임 : <input type="text" name="nickName" required></li>
        <button> 회원가입 </button>
        <a href="/login">이미 계정이 존재합니까? 로그인</a>
    </ul>

</form>