body {
    font-family: Arial, sans-serif;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
